body {
  font-family: "Arial";
  background: #fafafa;
}
a {
  text-decoration: none;
}

.product-container {
  width: 330px;
  border: 1px solid #aaa;
  margin: 10px;
  box-shadow: 5px 3px 3px #e6e1e1;
  /* display:inline-block; */
}
.product-container img {
  width: 100%;
  height: auto;
}
/* .row{width:946px;} */

/* .col1{float:left;}
.col2{margin:10px auto;}
.col3{float:right;} */

.title {
  font-size: 20px;
}
.description {
  padding: 10px;
}

.prod {
  display: none;
}

.glyphicon-remove::before {
  font-size: 20px;
  cursor: pointer;
}

h1.title {
  font-size: 36px;
}

.tagline {
  font-size: 18px;
}

.description > .title,
.description > .tagline {
  font-size: 16px;
  color: #0096ff;
}

.title,
.tagline {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 32;
  left: 0;
  width: 100%;
  height: 65%;
  display: none;
  color: #fff;
  background: #00000099;
  text-align: center;
  padding: 10px;
}

@media (max-width: 1200px) {
  .product-container {
    width: 330px;
  }
  .overlay {
    height: 60%;
  }
}

@media (max-width: 990px) {
  .product-container {
    width: 330px;
  }
  .overlay {
    height: 75%;
  }
}

@media (max-width: 765px) {
  .overlay {
    height: 60%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  
 
    .justify-content-md-center {
        justify-content: center !important;
      }
      .overlay {
        height: 70%;
      }
    
  }

.loadMessage {
  text-align: center;
}

button.remove{
    border: none;
    background: none;
    padding: 10px;
}
